.MovieCards{
  width: 100%;
  height: auto;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  
}


@media only screen and (max-width: 768px){
  .MovieCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
}
