.MovieCards {
	width: 90%;
	height: auto;
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
	gap: 1rem;
}

@media only screen and (max-width: 768px) {
	.MovieCards {
		grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
		gap: 2rem;
	}
}

@media only screen and (max-width: 320px) {
	.MovieCards {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}
