.FullMovie {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #5a189a, #9d4edd, #7b2cbf);
}

.MovieDetails {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.863);
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  position: relative;
}

.MovieDetails_Left {
  min-width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.MovieDetails_Left > img {
  width: 55%;
  border-radius: 5px;
}

.MovieDetails_Right {
  margin-left: 1rem;
  padding: 1rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
  width: 50%;
}

.Close {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.AddtoWatchlist {
  margin-left: auto;
}

@media (max-width: 768px) {
  .FullMovie {
    background-position: -500px;
  }
  .MovieDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .MovieDetails_Left {
    width: 200px;
    height: 300px;
    margin-top: 100px;
  }

  .MovieDetails_Left > img {
    width: 200px;
    height: 100%;
  }

  .MovieDetails_Right {
    margin: 0;
    width: 80%;
    padding-bottom: 2rem;
  }

  .Close {
    top: 4rem;
    right: 0.5rem;
  }
}
