@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.Button {
  --white: #fdfdfd;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: transform 0.3s ease;
  margin: 0 1rem;
}

.Button:disabled {
  background: gray;
  transform: translate(0px);
  cursor: not-allowed;
}

.Btn--medium {
  padding: 7px 15px;
  font-size: 16px;
}

.Btn--large {
  padding: 10px 20px;
  font-size: 20px;
}

.Btn--primary--solid {
  background-color: var(--primaryColor);
  color: var(--white);
  border: 2px solid var(--primaryColor);
  transition: all 0.2s ease;
}

.Btn--primary--solid:hover {
  background: transparent;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
}

.Btn--primary--outline {
  background: transparent;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  transition: all 0.2s ease;
}

.Btn--primary--outline:hover {
  background-color: var(--primaryColor);
  color: var(--white);
  border: 2px solid var(--primaryColor);
}

.Btn--warning--outline {
  background: transparent;
  color: var(--warningColor);
  border: 2px solid var(--warningColor);
  transition: all 0.2s ease;
}

.Btn--warning--outline:hover {
  background-color: var(--warningColor);
  color: var(--white);
  border: 2px solid var(--warningColor);
}

