.NavSignIn{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0.3rem;
    width: 100%
}

@media (max-width: 780px){
    .NavSignIn{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width:150%;
        height: 100%;
    
    }
}

