.NavItem {
  list-style-type: none;
}

.NavItem {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: 0.2s ease-in;
}
.NavItem:hover {
  color: var(--primaryColor);
}

@media (max-width: 780px) {
  .NavItem,
  .NavItem a {
    margin: 0;
  }
}
